<h1><%= @cart.user_name %>'s Shopping Cart</h1>
<%# Display partial for each item in the cart, in an ordered list %>
<ol>
  <% @cart_guides.each do |cart_guide| %>
    <%= render partial: "cart_guide", locals: {cart_guide: cart_guide} %>
  <% end %>
<ol>
<%# Display cart total %>
<p>TOTAL: <%= @cart.total %></p>
<p>
  <%# Render stripe checkout and clear cart buttons if cart is not empty %>
  <%= render "buttons" unless @cart_guides.empty? %>
  <%# Back link using custom link_back helper %>
  <%= link_back(guides_path) %>
</p>
<%# Include Stripe script tags if cart is not empty (in which case checkout button will be present) %>
<%= render partial: "shared/stripe", locals: { guide_ids: @guide_ids } unless @cart_guides.empty? %>