<h1><%= @cart.user.username %>'s Shopping Cart</h1>
<ol>
  <% @cart_guides.each do |cart_guide| %>
    <li>
      Title: <%= cart_guide.guide.title %> | Price: <%= cart_guide.guide.price %> | <%= button_to "Remove", cart_guide_path(cart_guide), method: :delete %> |
    </li>
  <% end %>
<ol>
<p>TOTAL: <%= @cart.total %></p>

<p>
  <%# Link back to previous location if any (and not equal to current location), otherwise to guides index %>
  <%# link_to :back not used as it links to current page if referer is current page %>
  <%= link_to("Back", (request.referer.present? && request.referer != request.url) ? request.referer : guides_path) %>
</p>