<div class="card mb-3 me-3 <%= "bg-light" if guide.discarded? %>" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title"><%= link_to guide.title, guide %></h4>
    <% if user_signed_in? && guide.owned_by?(current_user) %>
      <h5 class="card-subtitle mb-2 text-muted">Owned</h5>
    <% else %>
      <h5 class="card-subtitle mb-2 text-muted"><%= guide.price == 0.0 ? "Free" : number_to_currency(guide.price, locale: :en) %></h5>
    <% end %>
    <h6 class="card-subtitle mb-2 text-muted">Created by: <%= guide.user.username %><%= " (you)" if user_signed_in? && current_user.author?(guide) %></h6>
    <% if user_signed_in? && current_user.author?(guide) %>
      <p class="text-muted"><%= guide.owners.length %> users have purchased this guide</p>
    <% end %>
    <p class="text-muted">Tags: <%= guide.tags.map(&:name).join(", ") %></p>

    <p class="card-text"><%= guide.description_text %></p>
    <% if policy(guide).view? %>
      <%= link_to "View", view_guide_path(guide), class: "card-link" %>
    <% end %>
    <%# If user owns the guide, link to create a new review, or to edit existing review if one already made %>
    <% if guide.owned_by?(current_user) %>
      <% unless current_user.reviewed?(guide) %>
        |<%= link_to("Review", new_guide_review_path(guide_id: guide.id)) %>
      <% else %>
        |<%= link_to("Edit Review", edit_review_path(current_user.review(guide))) %>
      <% end %>
    <% end %>
    <% if policy(guide).edit? %>
      <%= link_to "Edit", edit_guide_path(guide), class: "card-link" %>
    <% end %>
    <% if policy(guide).destroy? %>
      <%# Delete link disabled with explanatory tooltip if a guide has been purchased by one or more users %>
      <% if guide.has_owners? %>
        <div class="d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Guides that have been purchased by users can only be archived, not deleted.">
          <%= link_to "Delete", guide_path(guide), method: :delete, class: "btn btn-secondary disabled", data: {confirm: "Are you sure?"} %>
        </div>
      <% else %>
        <%= link_to "Delete", guide_path(guide), method: :delete, class: "btn btn-secondary", data: {confirm: "Are you sure?"} %>
      <% end %>
    <% end %>
    <% if policy(guide).archive? %>
      <%= link_to "Archive", archive_guide_path(guide), class: "card-link", data: {confirm: "Are you sure?"} %>
    <% elsif policy(guide).restore? %>
      <%= link_to "Restore", restore_guide_path(guide), class: "card-link", data: {confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>