<%# Shade background if guide is archived %>
<div class="card mb-3 ms-1 me-1 flex-grow-1 <%= "bg-light" if guide.discarded? %>" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title"><%= link_to guide.title, guide %></h4>
    <%# Display if current user already owns the guide. Otherwise, display its price. %>
    <% if guide.owned_by?(user_or_guest) %>
      <h5 class="card-subtitle mb-2 text-muted">Owned</h5>
    <% else %>
      <h5 class="card-subtitle mb-2 text-muted"><%= display_price(guide) %></h5>
    <% end %>
    <%# Display author and rating %>
    <h6 class="card-subtitle mb-2 text-muted">Created by: <%= display_author(guide) %></h6>
    <h5 class="card-subtitle mb-2 text-muted">Rating: <%= display_rating(guide.rating) %></h5>
    <%# If user is the author, display how many others have purchased the guide %>
    <% if guide.authored_by?(user_or_guest) %>
      <p class="text-muted"><%= display_owners_count(guide) %></p>
    <% end %>
    <%# Display tags and description %>
    <p class="text-muted">Tags: <%= display_guide_tags(guide) %></p>
    <p class="card-text"><%= description_text(guide) %></p>
    <%# Render links to view/modify guide %>
    <%= render partial: "guides/links", locals: {guide: guide} %>
  </div>
</div>