  <%# Form created using simple form gem with bootstrap styles integration. %>
  <%# Maps non-text fields to relevant bootstrap classes with wrapper_mappings. %>
  <%= simple_form_for @guide, wrapper: :horizontal_form, wrapper_mappings: {
    file: :horizontal_file
  } do |f| %>
    <%= f.error_notification %>
  
    <div class="form-inputs">
      <%# Simple form automatically determines input type based on the specified attribute, and generates label and input field. %>
      <%= f.input :title,
                  required: true,
                  autofocus: true, wrapper_html: {class: "mt-5 mb-5"} %>
      <%= f.input :description, wrapper_html: {class: "mb-5"} %>
      <%= f.input :price, wrapper_html: {class: "mb-5"} %>
      <%= f.input :guide_file, wrapper_html: {class: "mb-5"} %>
    </div>
  
    <div class="form-actions">
      <%= f.button :submit, class: "btn-primary"%>
    </div>
  <% end %>