<div class="container">
  <h1 class="mb-5">Guides</h1>

  <%= simple_form_for :search, url: guides_path, method: "GET", html: { class: 'form-inline' } do |f| %>
    <%= f.input :query, input_html: {value: ""}, label: "Search by title", required: false %>
    <%= f.input :tags, as: :check_boxes, collection: @tags, label_method: :name, value_method: :id, input_html: {value: ""}, label: "Select tags", required: false, wrapper: :horizontal_collection_inline %>
    <br>
    <%= f.submit "Search", class: "btn btn-primary" %>
  <% end %>
  <br><br>
  <%= render "guides" %>
</div>