<div class="container <%= "bg-light" if @guide.discarded? %>">
  <h1><%= @guide.title %></h1>
  <% if user_or_guest.owns?(@guide) %>
    <h4 class="text-muted">Owned</h4>
  <% else %>
    <h4 class="text-muted"><%= display_price(@guide) %></h4>
  <% end %>
  <h5 class="text-muted">Created by: <%= display_author(@guide) %></h5>
  <h5 class="card-subtitle mb-2 text-muted">Rating: <%= @guide.rating %></h5>
  <%# If user is the author, display how many others have purchased the guide %>
  <% if user_or_guest.author?(@guide) %>
    <p class="text-muted"><%= display_owners_count(@guide) %></p>
  <% end %>
  <p class="text-muted">Tags: <%= display_guide_tags(@guide) %></p>
  <hr>
  <p><%= description_text(@guide) %></p>
  <p>
    <% unless policy(@guide).view? %>
      <% if @guide.free? %>
        <%# Render "Add to library" button if guide is free %>
        <%= button_to "Add to Library", checkout_path, params: { free: true, guide_ids: [@guide.id] } %>
      <%# If guide is not free, add to cart and buy now buttons may be rendered %>
      <% else %>
        <%# Creates form with hidden fields for "CartGuide". Posts to cart_guides#create, effectively adding a guide to user's cart. %>
        <% unless user_or_guest.in_cart?(@guide) %>
          <%= button_to "Add to cart", cart_guides_path, params: { cart_guide: { cart_id: user_or_guest.cart.id, guide_id: @guide.id } } %> | 
        <% end %>
        <%# Render stripe checkout button if guide is not free %>
        <button id="checkout-button">Buy Now</button>
      <% end %>
    <% end %>
  </p>
  <%= render partial: "links", locals: { guide: @guide } %>
  <h4>Reviews</h4>
  <hr>
  <% @reviews.each do |review| %>
    <%= render partial: "reviews/review", locals: {review: review} %>
  <% end %>
  <p><%= link_to "See all reviews", guide_reviews_path(@guide) %></p>
  <p><%= link_to "Back to guides", guides_path %></p>
</div>

<%= render(partial: "shared/stripe", locals: {guide_ids: [@guide.id]}) unless (policy(@guide).view? || @guide.free?) %>