<%# Use Stripe for payment processing %>
<script src="https://js.stripe.com/v3/"></script>

<div class="container <%= "bg-light" if @guide.discarded? %>">
  <h1><%= @guide.title %></h1>
  <% if user_signed_in? && @guide.owned_by?(current_user) %>
    <h4 class="text-muted">Owned</h4>
  <% else %>
    <h4 class="text-muted"><%= @guide.price == 0.0 ? "Free" : number_to_currency(@guide.price, locale: :en) %></h4>
  <% end %>
  <h5 class="text-muted">Created by: <%= @guide.user.username %><%= " (you)" if user_signed_in? && current_user.author?(@guide) %></h5>
  <hr>
  <p><%= @guide.description_text %></p>
  <p>
    <% if policy(@guide).view? %>
      <%= link_to "View", view_guide_path(@guide) %>
    <% else %>
      <button id="checkout-button">Purchase</button>
    <% end %>
    <% if policy(@guide).edit? %>
      |<%= link_to "Edit", edit_guide_path(@guide) %>
    <% end %>
    <% if policy(@guide).destroy? %>
      |<%= link_to "Delete", guide_path(@guide), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
    <% if policy(@guide).archive? %>
      |<%= link_to "Archive", archive_guide_path(@guide), data: {confirm: "Are you sure?"} %>
    <% elsif policy(@guide).restore? %>
      |<%= link_to "Restore", restore_guide_path(@guide), data: {confirm: "Are you sure?"} %>
    <% end %>
  </p>
  <p><%= link_to "Back to guides", guides_path %></p>
</div>

<%# Add event listener to purchase button, triggering Stripe checkout %>
<script type="text/javascript">
  // Create an instance of the Stripe object with your publishable API key
  var stripe = Stripe('pk_test_51IqT8pBOC4WaG3qlSthuQrdxLLJGwe4JWOzcVZvuC1Cpah4lypBOybTlhe5ZPGwZORLrxUgV6UNm3UmoshBrBu6F00Ra3xwDxj');
  var checkoutButton = document.getElementById('checkout-button');

  checkoutButton.addEventListener('click', function() {
    // If user not signed in, send to sign in page and set the devise post-sign-in redirect page to the current url
    <% if !user_signed_in? %>
      <% session["user_return_to"] = request.url %>
      location = "<%= new_user_session_path %>"
    <% end %>
    // Create a new Checkout Session using the server-side endpoint
    fetch('/guides/<%= @guide.id %>/purchase', {
      method: 'POST',
    })
    .then(function(response) {
      return response.json();
    })
    .then(function(session) {
      return stripe.redirectToCheckout({ sessionId: session.id });
    })
    .then(function(result) {
      if (result.error) {
        alert(result.error.message);
      }
    })
    .catch(function(error) {
      console.error('Error:', error);
    });
  });
</script>