<script src="https://js.stripe.com/v3/"></script>

<div class="container">
  <h1><%= @guide.title %></h1>
  <% if user_signed_in? && @guide.owned_by?(current_user) %>
    <span class="text-muted">Owned.</span>
  <% end %>
  <hr>
  <p><%= @guide.description_text %></p>
  <p>
    <% unless user_signed_in? && @guide.owned_by?(current_user) %>
      <button id="checkout-button">Purchase</button>
    <% end %>
    <%= link_to "View", view_guide_path(@guide) %>|
    <%= link_to "Edit", edit_guide_path(@guide) %>|
    <%= link_to "Delete", guide_path(@guide), method: :delete, data: {confirm: "Are you sure?"} %>
  </p>
  <p><%= link_to "Back to guides", guides_path %></p>
</div>

<script type="text/javascript">
  // Create an instance of the Stripe object with your publishable API key
  var stripe = Stripe('pk_test_51IqT8pBOC4WaG3qlSthuQrdxLLJGwe4JWOzcVZvuC1Cpah4lypBOybTlhe5ZPGwZORLrxUgV6UNm3UmoshBrBu6F00Ra3xwDxj');
  var checkoutButton = document.getElementById('checkout-button');

  checkoutButton.addEventListener('click', function() {
    // Create a new Checkout Session using the server-side endpoint you
    // created in step 3.
    fetch('/guides/<%= @guide.id %>/buy', {
      method: 'POST',
    })
    .then(function(response) {
      return response.json();
    })
    .then(function(session) {
      return stripe.redirectToCheckout({ sessionId: session.id });
    })
    .then(function(result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, you should display the localized error message to your
      // customer using `error.message`.
      if (result.error) {
        alert(result.error.message);
      }
    })
    .catch(function(error) {
      console.error('Error:', error);
    });
  });
</script>