<p>
  <p>By: <%= review.user_name %></p>
  <p>Rating: <%= review.rating %> </p>
  <p><%= review.content %> </p>
  <%= link_to "Edit", edit_review_path(review) if policy(review).edit? %>
  <% if policy(review).destroy? %>
    | <%= link_to "Delete", review_path(review), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
</p>
<hr>